# paths
FGMP=/bigdata/ocisse/Project3_cema/Version1/src/fgmp/1.0
WRKDIR=/bigdata/ocisse/Project3_cema/Version1/src/fgmp/1.0/sample
#SRC=/bigdata/ocisse/Project3_cema/Version1/src/fgmp/1.0/src
#FGMPdata =/bigdata/ocisse/Project3_cema/Version1/src/fgmp/1.0/data
#TMP=/bigdata/ocisse/Project3_cema/Version1/src/fgmp/1.0/tmp
#AUG=/rhome/ocisse/bigdata/Project3_cema/Version1/src/fgmp/1.0/utils/augustus-3.0.3
